.tallykit_logo_item{position: relative;border: solid 1px #EAE9E9;background-color: #F4F4F4;}
.tallykit_logo_item .tallykit_logo_item-d img {max-width: 100%;border-radius: 0;box-shadow: 0 1px 4px rgba(0, 0, 0, 0);width: 100%;}
.tallykit_logo_item .tallykit_logo_item_image{position: absolute;height: 100%;width: 100%;text-align: center;text-decoration: none;vertical-align: middle;top: 0px;}
.tallykit_logo_item .tallykit_logo_item_image:before {content: '';display: inline-block;height: 100%;vertical-align: middle;}
.tallykit_logo_item .tallykit_logo_item_image .tk-item-content{display: inline-block;width: 90%;vertical-align: middle;height: auto;}

/*-----------------------------------------------------
Carousel
-----------------------------------------------------*/
.tallykit_logo_carousel{  }
.tallykit_logo_carousel.acoc-fx-nav-valign-top .wfs-direction-nav{ top:-25px; }
.tallykit_logo_carousel.acoc-fx-nav-align-right .wfs-direction-nav{ right:0px; }
.tallykit_logo_carousel.acoc-fx-cnav-valign-top .wfs-control-nav{ top:-15px; }
.tallykit_logo_carousel.acoc-fx-cnav-align-left .wfs-control-nav{ left:0; }
.tallykit_logo_carousel.acoc-fx-nav-style-border .wfs-direction-nav a{ height: 14px; width: 14px; line-height: 14px; }


/*----------------------------------------------------
Slidershow
-----------------------------------------------------*/