/* Grid Style
================================================== */
.tk_testimonial_item{display:block;position:relative; overflow:inherit;}
.tk_testimonial_item .tk_testimonial_item_content{
	font-style: italic;
	position: relative;
	padding: 12px 15px 12px 15px;
	border:1px solid;
	border-radius: 3px;
	-webkit-border-radius: 3px;
}
.tk_testimonial_item .tk_testimonial_item_content span{color: #696868 !important;}
.tk_testimonial_item .tk_testimonial_item_content p:last-child{ margin-bottom:0; }
.tk_testimonial_item .tk_testimonial_item_content:after{
	position: absolute;
	left: 12px;
	bottom: -15px;
	width: 15px;
	height: 15px;
	font-size: 0px;
	line-height: 0px;
	background: inherit;
	border-radius: 0px 0px 20px 20px;
}
.tk_testimonial_item .tk_testimonial_item_info{ width:100%; height:auto; display:block;position:relative; padding-top:15px; }
.tk_testimonial_item .tk_testimonial_item_info img{ margin-right:10px; float:left; width:50px!important; height:50px; border-radius: 50%; }
.tk_testimonial_item .tk_testimonial_author_name{	font-weight:bold; margin-top:12px;}
.tk_testimonial_item .tk_testimonial_author_name a{ color:inherit; }
.tk_testimonial_item .tk_testimonial_author_name a:hover{ color:inherit; text-decoration:none; }
.tk_testimonial_item .tk_testimonial_author_position{ font-weight: normal; font-size: 12px; }

.tk_testimonial_item .tk_testimonial_arrow_wrap{ display: block;position: absolute;top: -2px;left: 14px;overflow: hidden;width: 10px;height: 10px;}
.tk_testimonial_item .tk_testimonial_arrow_wrap .tk_testimonial_arrow{
	height: 10px;
	width: 10px;
	position: absolute;
	top: -7px;
	left: 50%;
	margin-left: -6px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
	border-width: 1px;
	border-style: solid;
	visibility: hidden\9;
	background: #fcfcfc;
}

/* Slideshow Style
================================================== */
.tallykit_testimonial_slideshow{ margin-bottom:40px; margin-top:20px; }
.tallykit_testimonial_slideshow.acoc-fx-nav-valign-bottom .wfs-direction-nav{ bottom:-40px; }
.tallykit_testimonial_slideshow.acoc-fx-cnav-valign-top .wfs-control-nav{ top:-20px; }
.tk_testimonial_slider_item {display:block;position:relative; overflow:inherit; text-align:center}
.tk_testimonial_slider_item .tk_testimonial_item_info{ width:100%; height:auto; display:block;position:relative; padding-top:15px; }
.tk_testimonial_slider_item img{ width:100px!important; height:100px; border-radius: 50%; margin:0 auto; margin-bottom:10px; }
.tk_testimonial_slider_item .tk_testimonial_author_name{ font-weight:bold; margin-top:12px; font-size:120%;}
.tk_testimonial_slider_item .tk_testimonial_author_name a{ color:inherit; }
.tk_testimonial_slider_item .tk_testimonial_author_name a:hover{ color:inherit; text-decoration:none; }
.tk_testimonial_slider_item .tk_testimonial_author_position{ font-weight: normal; font-size: 12px; }



/* carousel Style
================================================== */
.tallykit_testimonial_carousel{  }
.tallykit_testimonial_carousel.acoc-fx-nav-valign-top .wfs-direction-nav{ top:-25px; }
.tallykit_testimonial_carousel.acoc-fx-nav-align-right .wfs-direction-nav{ right:0px; }
.tallykit_testimonial_carousel.acoc-fx-cnav-valign-top .wfs-control-nav{ top:-15px; }
.tallykit_testimonial_carousel.acoc-fx-cnav-align-left .wfs-control-nav{ left:0; }
.tallykit_testimonial_carousel.acoc-fx-nav-style-border .wfs-direction-nav a{ height: 14px; width: 14px; line-height: 14px; }



/* * ---styles for browsers smaller than 800px;
================================================== */
@media only screen and (max-width: 800px) {
	
}


/*---styles for browsers smaller than 768px;
================================================== */
@media only screen and (max-width: 768px) {	

}

/*---styles for browsers smaller than 600px;
================================================== */
@media only screen and (max-width: 600px) {	

}

/*---styles for browsers smaller than 480px;
================================================== */
@media only screen and (max-width: 480px) {	

}