.page-template-front-page-template-php #main{ padding:0 !important; width:100%; max-width:100%;  }
.page-template-front-page-template-php #main #main-inner{  width:100%; max-width:100%; }
.tallykit_FrontPage_row { padding-left:1000px; padding-right:1000px; margin-left:-1000px; margin-right:-1000px; }
.tallykit_FrontPage_row:before,
.tallykit_FrontPage_row:after{
	content:" ";
	display:table;
}
.tallykit_FrontPage_row .tallykit_FrontPage_row_inner{ margin:0 auto; }

.tallykit_FrontPage_row.width_1170 .tallykit_FrontPage_row_inner{ max-width:1170px; width:92%; }
.tallykit_FrontPage_row.width_1060 .tallykit_FrontPage_row_inner{ max-width:1060px; width:92%; }
.tallykit_FrontPage_row.width_960 .tallykit_FrontPage_row_inner{ max-width:960px; width:92%; }
.tallykit_FrontPage_row.width_800 .tallykit_FrontPage_row_inner{ max-width:800px; width:92%; }
.tallykit_FrontPage_row.width_700 .tallykit_FrontPage_row_inner{ max-width:700px; width:92%; }

.tallykit_FrontPage_row.border_top_1{ border-top:1px solid; }
.tallykit_FrontPage_row.border_bottom_1{ border-bottom:1px solid; }
.tallykit_FrontPage_row.border_top_2{ border-top:2px solid; }
.tallykit_FrontPage_row.border_bottom_2{ border-bottom:2px solid; }
.tallykit_FrontPage_row.border_top_3{ border-top:3px solid; }
.tallykit_FrontPage_row.border_bottom_3{ border-bottom:3px solid; }
.tallykit_FrontPage_row.border_top_4{ border-top:4px solid; }
.tallykit_FrontPage_row.border_bottom_4{ border-bottom:4px solid; }
.tallykit_FrontPage_row.border_top_5{ border-top:5px solid; }
.tallykit_FrontPage_row.border_bottom_6{ border-bottom:6px solid; }

.tallykit_FrontPage_row .tallykit_FrontPage_row_inner .col-holder:last-child{ margin-bottom:0; }