@charset "utf-8";
/* CSS Document */

.tallykit_portfolio.th_grid_skin .tallykit_portfolio_item_details{ margin-top: -6px; }
 
.acoc-flexslider2-skin .wfs-direction-nav a:before{
	line-height:normal;
}
.tallykit_portfolio_item a:hover{ text-decoration:none; }
.tallykit_portfolio_item .tallykit_portfolio_item_details{ background-color: rgba(247, 247, 247, 0.79); padding: 15px 10px 10px 10px; }
.tallykit_portfolio_item .tallykit_portfolio_item_heading,
body #main .tallykit_portfolio_item .tallykit_portfolio_item_heading{
	 font-weight:normal; font-size: 18px; line-height:18px; color: #444 !important; letter-spacing: -0.5px; margin-bottom:0px;
}
.tallykit_portfolio_item .tallykit_portfolio_item_heading:hover{ text-decoration:none; }
.tallykit_portfolio_item .tallykit_portfolio_item_subheading,
body #main .tallykit_portfolio_item .tallykit_portfolio_item_subheading{ line-height: 22px; font-size: 11px; color: #999 !important; }

.tallykit_portfolio_item a.tallykit_portfolio_item_image{  }


/*
-----------------------------------------------------
Slider Skin (defolt)
-----------------------------------------------------
*/
/* FlexSlider Theme
*********************************/
/* viewport */
.tallykit_portfolio_slideshow .acoc-flexslider2 { padding-top:20px; }




/* Control Nav */
.tallykit_portfolio_slideshow .wfs-control-nav {position: absolute; bottom: 10px; text-align: center; margin:0; right:0;}
.tallykit_portfolio_slideshow .wfs-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.tallykit_portfolio_slideshow .wfs-control-paging li a {
	width: 11px; 
	height: 3px; 
	display: block; 
	background: rgba(0,0,0,0.5); 
	cursor: pointer; 
	text-indent: -99999px; 
	
}
.tallykit_portfolio_slideshow .wfs-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.tallykit_portfolio_slideshow .wfs-control-paging li a.wfs-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.tallykit_portfolio_slideshow .wfs-control-nav {top: 25px; left:0; bottom:auto; right:auto; width:auto; }




/*
-----------------------------------------------------
Carousel Skin (defolt)
-----------------------------------------------------
*/
/* FlexSlider Theme
*********************************/
/* viewport */
.tallykit_portfolio_slideshow.acoc-carousel-skin .acoc-flexslider2 { padding-top:20px; }

/* Direction Nav */
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-direction-nav{ width:auto; position:absolute; right:0px; top:-5px; }
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-direction-nav li{ float:left; display: block; width:20px; height:20px; margin-left: 3px; margin-right: 3px; }

.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-direction-nav a{ 
	display: block;
	width: 10px;
	height: 10px;
	padding:4px 5px 6px 5px; 
	position: relative; 
	top: 20px; 
	right:5px;
	opacity: 1;
	z-index: 10; 
	overflow: hidden; 
	cursor: pointer; 
	color: rgba(0,0,0,0.8); 
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; 
	transition: all .3s ease; 
	text-align:center;
	background-color:rgba(119, 119, 119, 0.64);
	line-height: 10px;
}

.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-direction-nav .wfs-prev { left: 0px; }
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-direction-nav .wfs-next { right:0px; }
.tallykit_portfolio_slideshow.acoc-carousel-skin .acoc-flexslider2:hover .wfs-next:hover,
.tallykit_portfolio_slideshow.acoc-carousel-skin .acoc-flexslider2:hover .wfs-prev:hover { opacity: 1; }
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-direction-nav .wfs-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-direction-nav a:before { font-family: "flexslider-icon"; font-size: 9px; display: inline-block; content: '\f001'; color: #FFF; }
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-direction-nav a.wfs-next:before	{ content: '\f002'; }


/* Control Nav */
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-control-nav {position: absolute; bottom: 10px; text-align: center; margin:0; right:0;}
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-control-paging li a {
	width: 11px; 
	height: 3px; 
	display: block; 
	background: rgba(0,0,0,0.1); 
	cursor: pointer; 
	text-indent: -99999px; 
	
}
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-control-paging li a:hover { background: rgba(0,0,0,0.4); }
.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-control-paging li a.wfs-active { background: rgba(0,0,0,0.4); cursor: default; }

.tallykit_portfolio_slideshow.acoc-carousel-skin .wfs-control-nav {top: 5px; left:0; bottom:auto; right:auto; width:auto; }




/*
-----------------------------------------------------
Single Page (defolt)
-----------------------------------------------------
*/
.tk_portfolio_single_content{ width: 60%; display: inline-block; float: left ;}
.tk_portfolio_single_content h3 { margin-bottom: 10px; margin-top: 30px; font-size:17px; }
.tk_portfolio_single_info{ width: 34.2%; display: inline-block; float: right; }
.tk_portfolio_single_info h3 { margin-bottom: 10px; margin-top: 30px; font-size:17px; }

.tk_portfolio_single_info ul{ margin-left:0px; }
.tk_portfolio_single_info ul li {
border-bottom: 1px solid rgba(231, 231, 231, 0.46);
padding-bottom: 15px;
margin-bottom: 15px;
overflow: hidden;
list-style: none;
margin-left: 0px;
}
.tk_portfolio_single_info ul li strong { display: inline-block; width: 40%; float: left;}
.tk_portfolio_single_info ul li .project_tk { width: 55%; float: right; }