#tk_dav_settings .acoc-setting-item-type-heading{ width:100%; clear:both; }
#tk_dav_settings .submit{ width:100%; clear:both; }

#tk_dav_settings .component-list-item{ width:12%; float:left; }
#tk_dav_settings .component-list-item-1{ width:15%; float:left; }
#tk_dav_settings .component-list-item-2{ width:25%; float:left; }
