.acoc{ }
.acoc-metabox-item{  }
.acoc-metabox-item label,
.acoc-metabox-item span.description{ display:block; width:100%; clear:both; margin-bottom:4px; margin-top:4px; }


/* Settings css
-------------------------*/
.acoc-setting-item{ margin-bottom:20px; }
.acoc-setting-item input[type="text"]{width:25em;	clear:right;}
.acoc-setting-item input[type="text"]:after{ content:"": } 
.acoc-setting-item label{
	text-align: left;
	padding: 20px 10px 20px 0;
	width: 200px;
	line-height: 1.3;
	font-weight: 600;
	display:inline-block;
}
.acoc-setting-item span.description{ margin-left:210px; display: block; }