/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */



.acoc-flexslider2{ position:relative !important; }
.acoc-flexslider2 .wfs-viewport ul.slides{ list-style-type:none !important; margin:0; }
.acoc-flexslider2 .wfs-viewport ul.slides li{ list-style-type:none !important; margin:0;}
.acoc-flexslider2 ul.wfs-direction-nav{ list-style-type:none !important; margin:0; }
.acoc-flexslider2 ul.wfs-direction-nav li{ list-style-type:none !important; margin:0; }


/* Browser Resets
*********************************/
.wfs-container a:active,
.acoc-flexslider2 a:active,
.wfs-container a:focus,
.acoc-flexslider2 a:focus  {outline: none;}
.slides,
.wfs-control-nav,
.wfs-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/flexslider-icon.eot');
	src:url('../fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/flexslider-icon.woff') format('woff'),
		url('../fonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.acoc-flexslider2 {margin: 0; padding: 0;}
.acoc-flexslider2 .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.acoc-flexslider2 .slides img {width: 100%; display: block;}
.wfs-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "\0020"; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

.wfs-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .wfs-viewport { max-height: 300px; }
.acoc-flexslider2 .slides { zoom: 1; }
.carousel li { margin-right: 5px; }



/* FlexSlider Default Theme
*********************************/
/* viewport */
.acoc-flexslider2-skin .acoc-flexslider2 {
	margin: 0 0 60px; 
	position: relative; 
}

/* Direction Nav */
.acoc-flexslider2-skin .wfs-direction-nav {*height: 0;}
.acoc-flexslider2-skin .wfs-direction-nav a{ 
	display: block; 
	width: 40px; 
	height: 40px; 
	margin: -20px 0 0; 
	position: absolute; 
	top: 50%; 
	z-index: 10; 
	overflow: hidden; 
	opacity: 0; 
	cursor: pointer; 
	color: rgba(0,0,0,0.8); 
	text-shadow: 1px 1px 0 rgba(255,255,255,0.3); 
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; transition: all .3s ease; 
}
.acoc-flexslider2-skin .wfs-direction-nav .wfs-prev { left: -50px; }
.acoc-flexslider2-skin .wfs-direction-nav .wfs-next { right: -50px; text-align: right; }
.acoc-flexslider2-skin .acoc-flexslider2:hover .wfs-prev { opacity: 0.7; left: 10px; }
.acoc-flexslider2-skin .acoc-flexslider2:hover .wfs-next { opacity: 0.7; right: 10px; }
.acoc-flexslider2-skin .acoc-flexslider2:hover .wfs-next:hover,
.acoc-flexslider2-skin .acoc-flexslider2:hover .wfs-prev:hover { opacity: 1; }
.acoc-flexslider2-skin .wfs-direction-nav .wfs-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.acoc-flexslider2-skin .wfs-direction-nav a:before  { font-family: "flexslider-icon"; font-size: 32px; display: inline-block; content: '\f001'; }
.acoc-flexslider2-skin .wfs-direction-nav a.wfs-next:before  { content: '\f002'; }

/* Pause/Play */
.acoc-flexslider2-skin .wfs-pauseplay a { 
	display: block; 
	width: 20px; 
	height: 20px; 
	position: absolute; 
	bottom: 5px; 
	left: 10px; 
	opacity: 0.8; 
	z-index: 10; 
	overflow: hidden; 
	cursor: pointer; 
	color: #000; 
}
.acoc-flexslider2-skin .wfs-pauseplay a:before{ font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.acoc-flexslider2-skin .wfs-pauseplay a:hover{ opacity: 1; }
.acoc-flexslider2-skin .wfs-pauseplay a.wfs-play:before { content: '\f003'; }

/* Control Nav */
.acoc-flexslider2-skin .wfs-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center; margin:0;}
.acoc-flexslider2-skin .wfs-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.acoc-flexslider2-skin .wfs-control-paging li a {
	width: 11px; 
	height: 11px; 
	display: block; 
	background: #666; 
	background: rgba(0,0,0,0.5); 
	cursor: pointer; 
	text-indent: -9999px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px; 
	-o-border-radius: 20px; 
	border-radius: 20px; 
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	-o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
	box-shadow: inset 0 0 3px rgba(0,0,0,0.3); 
}
.acoc-flexslider2-skin .wfs-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.acoc-flexslider2-skin .wfs-control-paging li a.wfs-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

/* Control Nav : thumbs */
.acoc-flexslider2-skin .wfs-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.acoc-flexslider2-skin .wfs-control-thumbs li {width: 25%; float: left; margin: 0;}
.acoc-flexslider2-skin .wfs-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.acoc-flexslider2-skin .wfs-control-thumbs img:hover {opacity: 1;}
.acoc-flexslider2-skin .wfs-control-thumbs .wfs-active {opacity: 1; cursor: default;}