
.tk_people_item_details{
	padding: 15px 0px 0px;
	text-align: center;
	position:relative;
}
.tk_people_item_details .tk_people_item_heading{
width: 100%;
height: auto;
line-height: 22px;
font-size: 18px;
margin: 0px;
padding: 0px;
display: inline-block;	
}
.tk_people_item_details .tk_people_item_heading a{ color: #585656; }
.tk_people_item_details .tk_people_item_heading a:hover{ text-decoration:none; }
.tk_people_item_details .tk_people_item_social{
position: absolute;
width: 100%;
top: -35px;
}
.tk_people_item_details .tk_people_item_social .tallykit-people-soicalIcon{
display: inline-block;
width: 21px;
height: 21px;
border-radius: 50%;
margin: 0 4px 4px 0px;
color: inherit;	
background-color:rgba(0, 0, 0, 0.43);
}
.tk_people_item_details .tk_people_item_social .tallykit-people-soicalIcon i.fa {
line-height: 20px;
font-size: 11px;
color: #FFF !important;
}
.tk_people_item_details .tk_people_item_social .tallykit-people-soicalIcon:hover{ background-color:#999; }


.tk_people_item_image img {
-moz-box-shadow: 0px 1px 7px rgba(0,0,0,.3);
-webkit-box-shadow: 0px 1px 7px rgba(0,0,0,.3);
box-shadow: 0px 1px 7px rgba(0,0,0,.3);
}
.tallykit_people_item:hover .tk_people_item_image img {
-moz-box-shadow: 4px 6px 14px rgba(0,0,0,.6);
-webkit-box-shadow: 4px 6px 14px rgba(0,0,0,.6);
box-shadow: 4px 6px 14px rgba(0,0,0,.6);
}






/*
-----------------------------------------------------
Carousel Skin (defolt)
-----------------------------------------------------
*/
/* FlexSlider Theme
*********************************/
/* viewport */
.tallykit_people_slideshow.tk_people_carousel .acoc-flexslider2 { padding-top:20px; }

/* Direction Nav */
.tallykit_people_slideshow.tk_people_carousel .wfs-direction-nav{ width:auto; position:absolute; right:0px; top:-5px; }
.tallykit_people_slideshow.tk_people_carousel .wfs-direction-nav li{ float:left; display: block; width:20px; height:20px; margin-left: 3px; margin-right: 3px; }

.tallykit_people_slideshow.tk_people_carousel .wfs-direction-nav a{ 
	display: block;
	width: 10px;
	height: 10px;
	padding:4px 5px 6px 5px; 
	position: relative; 
	top: 20px; 
	right:5px;
	opacity: 1;
	z-index: 10; 
	overflow: hidden; 
	cursor: pointer; 
	color: rgba(0,0,0,0.8); 
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; 
	transition: all .3s ease; 
	text-align:center;
	background-color:rgba(119, 119, 119, 0.64);
	line-height: 10px;
}

.tallykit_people_slideshow.tk_people_carousel .wfs-direction-nav .wfs-prev { left: 0px; }
.tallykit_people_slideshow.tk_people_carousel .wfs-direction-nav .wfs-next { right:0px; }
.tallykit_people_slideshow.tk_people_carousel .acoc-flexslider2:hover .wfs-next:hover,
.tallykit_people_slideshow.tk_people_carousel .acoc-flexslider2:hover .wfs-prev:hover { opacity: 1; }
.tallykit_people_slideshow.tk_people_carousel .wfs-direction-nav .wfs-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.tallykit_people_slideshow.tk_people_carousel .wfs-direction-nav a:before { font-family: "flexslider-icon"; font-size: 10px; display: inline-block; content: '\f001'; color: #FFF; }
.tallykit_people_slideshow.tk_people_carousel .wfs-direction-nav a.wfs-next:before	{ content: '\f002'; }


/* Control Nav */
.tallykit_people_slideshow.tk_people_carousel .wfs-control-nav {position: absolute; bottom: 10px; text-align: center; margin:0; right:0;}
.tallykit_people_slideshow.tk_people_carousel .wfs-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.tallykit_people_slideshow.tk_people_carousel .wfs-control-paging li a {
	width: 11px; 
	height: 3px; 
	display: block; 
	background: rgba(0,0,0,0.1); 
	cursor: pointer; 
	text-indent: -99999px; 
	
}
.tallykit_people_slideshow.tk_people_carousel .wfs-control-paging li a:hover { background: rgba(0,0,0,0.5); }
.tallykit_people_slideshow.tk_people_carousel .wfs-control-paging li a.wfs-active { background: rgba(0,0,0,0.5); cursor: default; }

.tallykit_people_slideshow.tk_people_carousel .wfs-control-nav {top: 5px; left:0; bottom:auto; right:auto; width:auto; }



/*
-----------------------------------------------------
Slidershow (defolt)
-----------------------------------------------------
*/



/* viewport */
.tallykit_people_slideshow.tk_people_slider .acoc-flexslider2 { padding-top:20px; }

/* Direction Nav */
.tallykit_people_slideshow.tk_people_slider .wfs-direction-nav{ width:auto; position:absolute; right:0px; bottom: 58px; }
.tallykit_people_slideshow.tk_people_slider .wfs-direction-nav li{ float:left; display: block; width:20px; height:20px; margin-left: 3px; margin-right: 3px; }

.tallykit_people_slideshow.tk_people_slider .wfs-direction-nav a{ 
	display: block;
	width: 10px;
	height: 10px;
	padding:4px 5px 6px 5px; 
	position: relative; 
	top: 20px; 
	right:5px;
	opacity: 1;
	z-index: 10; 
	overflow: hidden; 
	cursor: pointer; 
	color: rgba(0,0,0,0.8); 
	-webkit-transition: all .3s ease; 
	-moz-transition: all .3s ease; 
	transition: all .3s ease; 
	text-align:center;
	background-color:rgba(119, 119, 119, 0.64);
	line-height: 10px;
}

.tallykit_people_slideshow.tk_people_slider .wfs-direction-nav .wfs-prev { left: 0px; }
.tallykit_people_slideshow.tk_people_slider .wfs-direction-nav .wfs-next { right:0px; }
.tallykit_people_slideshow.tk_people_slider .acoc-flexslider2:hover .wfs-next:hover,
.tallykit_people_slideshow.tk_people_slider .acoc-flexslider2:hover .wfs-prev:hover { opacity: 1; }
.tallykit_people_slideshow.tk_people_slider .wfs-direction-nav .wfs-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.tallykit_people_slideshow.tk_people_slider .wfs-direction-nav a:before { font-family: "flexslider-icon"; font-size: 9px; display: inline-block; content: '\f001'; color: #FFF; }
.tallykit_people_slideshow.tk_people_slider .wfs-direction-nav a.wfs-next:before	{ content: '\f002'; }


/* Control Nav */
.tallykit_people_slideshow.tk_people_slider .wfs-control-nav {position: absolute; bottom: 10px; text-align: center; margin:0; right:0;}
.tallykit_people_slideshow.tk_people_slider .wfs-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.tallykit_people_slideshow.tk_people_slider .wfs-control-paging li a {
	width: 11px; 
	height: 3px; 
	display: block; 
	background: rgba(0,0,0,0.1); 
	cursor: pointer; 
	text-indent: -99999px; 
	
}
.tallykit_people_slideshow.tk_people_slider .wfs-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.4); }
.tallykit_people_slideshow.tk_people_slider .wfs-control-paging li a.wfs-active { background: #000; background: rgba(0,0,0,0.4); cursor: default; }

.tallykit_people_slideshow.tk_people_slider .wfs-control-nav {top: 28px; left:0; bottom:auto; right:auto; width:auto; }




/*
-----------------------------------------------------
Single Page (defolt)
-----------------------------------------------------
*/
.tk_people_single_content{ width: 60%; display: inline-block; float: left ;}
.tk_people_single_content img{ margin-bottom:15px; }
.tk_people_single_info{ width: 34.2%; display: inline-block; float: right; }
.tk_people_single_info h3 { margin-bottom: 10px; margin-top: 0px; font-size:17px; }

.tk_people_single_info ul{ margin-left:0px; }
.tk_people_single_info ul li {
border-bottom: 1px solid rgba(231, 231, 231, 0.46);
padding-bottom: 15px;
margin-bottom: 15px;
overflow: hidden;
list-style: none;
margin-left: 0px;
}
.tk_people_single_info ul li strong { display: inline-block; width: 40%; float: left;}
.tk_people_single_info ul li .people_tk { width: 55%; float: right; }