div[id^="setting_tallykit_parallax_sections_title"]{
	width:72%; float:left;
}
div[id^="setting_tallykit_parallax_sections_active_title"]{
	width:25%; float:left; margin-left:3%; clear:right;
}
div[id^="setting_tallykit_parallax_sections_title_align"]{
	width:30%; float:left;
}
div[id^="setting_tallykit_parallax_sections_subtitle"]{
	width:30%; float:left; margin-left:3%;
}
div[id^="setting_tallykit_parallax_sections_title_color"]{
	width:33%; float:left; margin-left:3%; clear:right;
}
div[id^="setting_tallykit_parallax_sections_Content"]{
	clear:both;
}

div[id^="setting_tallykit_parallax_sections_content_align"]{
	width:30%; float:left;
}
div[id^="setting_tallykit_parallax_sections_content_width"]{
	width:30%; float:left; margin-left:3%;
}
div[id^="setting_tallykit_parallax_sections_section_id"]{
	width:30%; float:left; margin-left:3%; clear:right;
}

div[id^="setting_tallykit_parallax_sections_active_content_color"]{
	clear:both;
}
